*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*nome*/
nav{
    margin: 3px;
    border: solid 2px red;
    padding: 10px;
    height: 50px;
}
/*id*/
#navbar{
    margin: 20px;
    padding: 10px 0 20px 50px;
    background-color: rgba(235, 134, 242, 0.641);
    border: dashed 3px rgb(53, 2, 50);
    height: 65px;
}
#app{
    padding: 15px;
    border: 3px solid rgb(84, 10, 3);
    background-color: rgb(247, 128, 128);
    height: 300px;
}
/*class*/
.secao{
    margin: 10px;
    border: dashed 3px rgb(84, 10, 3);
    height: 50px;
    width: 250px;
    background-color: azure;
}
/*nome*/